body{
    background-color: #333;
}
.clock{
    text-align: center;
    font-size: 4em;
    margin: 200px auto;
}
.clock span{
    font-family: Arial;
    color: yellow;
    padding: 20px;
    background-color: #444;
}
